/node_modules
/libs/ckeditor5/node_modules
/public/hot
/public/mix-manifest.json
/public/js
/public/assets
/public/fonts
/public/build
/public/css
/public/images
/public/temp/
/public/storage
/storage/*.key
/storage/*.index*
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
phpunit.xml.bak
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
/.phpunit.cache
/*.ms
*.sql

**/.DS_Store
/ckeditor5-38.1/
/public/sitemap.xml
