.image-text {
    .title {
        strong, b {
            color: #22857F;
        }
    }
}

.reveal-type {
    .word {
        font-weight: 700;
    }
    &.font-base {
        .word {
            font-weight: 400 !important;
        }
    }

    b,strong {
        font-weight: 700 !important;
    }
}

.hm-contact {
    label {
        color: white;
    }
}

.company-swiper {
    .swiper-wrapper {
        padding: 10px 0;
    }
}

.direction-rtl {
    direction: rtl;
}

.team-card {
    display: inline-block;
    width: 30.33%;
    margin-right: 4.5%;
    margin-bottom: 80px;
    text-align: left;
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.group-hover {
    .hover-child {
        max-height: 0;
        padding: 0 24px;
        overflow: hidden;
        transition: all 0.34s ease;
    }

    &:hover {
        .hover-child {
            max-height: 999px;
            padding: 24px;
            overflow: visible;
        }
    }
}

.gaming-frame3-element {
    grid-column: span 2 / span 2;
    &:nth-child(n+4) {
        grid-column: span 3 / span 3;
    }
}

.saas-frame3-element {
    grid-column: span 2 / span 2;
    &:nth-child(n+4) {
        grid-column: span 3 / span 3;
    }
}

.ecommerce-frame4-element {
    grid-column: span 2 / span 2;
    &:nth-child(n+4) {
        grid-column: span 3 / span 3;
    }
}

.pulse2 {
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}

.generic-hover {
    transition: all 0.5s ease;
    &:hover {
        transform: translateY(-10px) !important;
        box-shadow: 0 5px 10px 0 #4b556380;
    }
}

.group-hover2 {
    .hover-child2 {
        max-height: 0;
        padding: 0 24px;
        overflow: hidden;
        transition: all 0.34s ease;
    }

    &:hover {
        .hover-child2 {
            max-height: 300px;
            padding: 24px;
        }
    }
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .bar {
        width: 14px;
        height: 1px;
        border-radius: 2px;
        background-color: white;
        transition: 0.5s;
        position: relative;

        &.scroll {
            background-color: #1C2C36;
            &:before,&:after {
                background-color: #1C2C36;
            }
        }

        &:before,&:after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: white;
            transition: 0.5s;
        }

        &:before {
            transform: translateY(-5px);
        }
        &:after {
            transform: translateY(5px);
        }
    }

    &.active {
        .bar {
            transform: rotate(360deg);
            background-color: transparent;
            &:before {
                transform: translateY(0) rotate(45deg);
            }
            &:after {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
}
  


// Animation
.banner-image {
    animation: itemFloat 3s alternate infinite;
}

@keyframes bannerFloat {
    0% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(40px);
    }

}

.values-card {
    .img-cntnr {
        transition: all 0.5s ease;
    }
    &:hover {
        .img-cntnr {
            transform: scale(1.125);
        }
        .values-image {
            animation: itemFloat 1s alternate infinite;
        }
    }
}

@keyframes itemFloat {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }

}

.member-card {
    .team-img {
        transition: all 0.34s ease;
    }
    &:hover {
        .team-iso {
            animation: itemFloat 2s alternate infinite;
        }

        .team-img {
            transform: scale(1.05);
        }
    }
    
}

#flatform2 {
    animation: flatform 5s linear infinite;
}

@keyframes flatform {
    0% {
        transform: translateY(10px);
    }
    10% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }

}

#rocket {
    animation: propel 5s linear infinite;
}

@keyframes propel {
    0% {
        transform: translate(-24px, -16.25px);
    }
    20% {
        transform: translate(50px, 32.5px);
    }
    100% {
        transform: translate(-24px, -16.25px);
    }
}

#cube1 {
    animation: cube1 5s linear infinite;
}
#cube2 {
    animation: cube1 5s linear infinite;
}

#cube3 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.5s;
    opacity: 0;
}

#cube4 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.25s;
    opacity: 0;
}

#cube5 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.75s;
    opacity: 0;
}

#cube6 {
    animation: cube1 5s linear infinite;
    animation-delay: 1s;
    opacity: 0;
}

#cube7 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.125s;
    opacity: 0;
}
#cube8 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.25s;
    opacity: 0;
}

#cube9 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes cube1 {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.test-item {
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#box1 {
    animation: slide 5s linear infinite;
}
#box2 {
    animation: slide 5s linear infinite;
    animation-delay: .5s;
}
#box3 {
    animation: slide 5s linear infinite;
    animation-delay: 1s;
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#tower {
    animation: upDown 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#chevron-left {
    animation: leftmovement 4s linear infinite;
}

@keyframes leftmovement {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-5px, 3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#chevron-right {
    animation: rightmovement 4s linear infinite;
}

@keyframes rightmovement {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(5px, -3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#screen {
    animation: blink 4s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#gear-glow {
    animation: gearglow 5s alternate infinite;
}

@keyframes gearglow {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  
}

#shaft-glow {
    animation: gearglow 4s alternate infinite;
}

.glow {
    animation: gearglow 4s alternate infinite;
}

.float {
    animation: floating 2s alternate infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.bounce {
    animation: bouncing 2s alternate infinite;
}

@keyframes bouncing {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

.hologram {
    animation: holo 4s alternate infinite;
}

@keyframes holo {
    0% {
        transform: translateY(0px);
    }
    20% { opacity: 0.5 }
    40% { opacity: 1 }
    60% { opacity: 0.5 }
    80% { opacity: 1 }
    100% {
        transform: translateY(-10px);
    }
}



// #abox {
//     animation: box-animate 4s linear infinite;
//     transform: translateY(10px);
//     opacity: 0.5;
// }

#bbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 0.5s;
    opacity: 0.5;
}
#cbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 1.5s;
    opacity: 0.5;
}
#dbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 2s;
    opacity: 0.5;
}

@keyframes box-animate {
    0% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    20% {
        transform: translateY(-5px);
        opacity: 1;
    }
    90% {
        transform: translateY(10px);
    }
    100% {
       opacity: 0.5;
    }
}

.glowing-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 8s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.s-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: spath 2s linear infinite;
}

@keyframes spath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 930;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 930;
        opacity: 0;
    }
}

.o-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: opath 2s linear infinite;
    animation-delay: 1000ms;
}

@keyframes opath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 930;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 930;
        opacity: 0;
    }
}

.c-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: opath 2s linear infinite;
    animation-delay: 500ms;
}

@keyframes cpath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 930;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 930;
        opacity: 0;
    }
}

.s2-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: s2path 2s linear infinite;
    animation-delay: 1500ms;
}

@keyframes s2path {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 930;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 930;
        opacity: 0;
    }
}

.rod-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: rodpath 2s linear infinite;
    animation-delay: 0ms;
}

@keyframes rodpath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 800;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 800;
        opacity: 0;
    }
}

.aa-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: aapath 2s linear infinite;
    animation-delay: 500ms;
}

@keyframes aapath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 800;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 800;
        opacity: 0;
    }
}

.e-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: epath 2s linear infinite;
    animation-delay: 2000ms;
}

@keyframes epath {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 800;
        opacity: 1;
    }
    100% {
        stroke-dashoffset: 800;
        opacity: 0;
    }
}


.radial-card1 {
    padding: 1px;
    overflow: hidden;
    .radial-bg {
        position: absolute;
        top: 50%; left: 50%;
        width: 160%;
        height: 160%;
        border-radius: 100%;
        background: linear-gradient(225deg, rgba(5,17,37,1) 20%, rgba(82,187,255,0.51) 50%, rgba(255,255,255,0.89) 80%);
        z-index: 1;
        animation: rotating 4s linear infinite;
    }
}

.radial-card2 {
    padding: 3px;
    overflow: hidden;
    .radial-bg {
        position: absolute;
        top: 50%; left: 50%;
        width: 160%;
        height: 160%;
        border-radius: 100%;
        background: linear-gradient(225deg, rgba(82,187,255,1) 0%, rgba(82,187,255,0) 50%, rgba(255,255,255,0.89) 100%);
        z-index: 1;
        animation: rotating 4s linear infinite;
    }
}

.radial-card3 {
    padding: 2px;
    position: relative;
    overflow: hidden;
    .radial-bg {
        position: absolute;
        top: 50%; left: 50%;
        width: 700px;
        height: 700px;
        border-radius: 100%;
        background: linear-gradient(0deg, rgba(81,210,202,1) 0%, rgba(26,26,26,1) 50%, rgba(244,244,244,1) 100%);
        z-index: 1;
        animation: rotating 4s linear infinite;
    }
}

.radial-card4 {
    padding: 2px;
    position: relative;
    overflow: hidden;
    .radial-bg {
        position: absolute;
        top: 50%; left: 50%;
        width: 700px;
        height: 700px;
        border-radius: 100%;
        background: linear-gradient(20deg, rgba(157,75,254,1) 0%, rgba(157,75,254,0) 50%, rgba(255,255,255,0.89) 80%);
        z-index: 1;
        animation: rotating 4s linear infinite;
    }
}

.radial-card5 {
    padding: 2px;
    position: relative;
    overflow: hidden;
    .radial-bg {
        position: absolute;
        top: 50%; left: 50%;
        width: 700px;
        height: 700px;
        border-radius: 100%;
        background: linear-gradient(0deg, rgba(190,49,176,1) 0%, rgba(220,143,212,1) 50%, rgba(255,255,255,0.89) 100%);
        z-index: 1;
        animation: rotating 4s linear infinite;
    }
}


@keyframes rotating {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes blinking {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking {
    animation: blinking infinite;
}

@media screen and (max-width: 1023px) {
    .header-wrapper,.header-logo,.nav-menu {
        transition: all 0.5s ease;
    }

    .gaming-frame3-element, .saas-frame3-element, .ecommerce-frame4-element {
        grid-column: 1 / -1;
        &:nth-child(n+4) {
            grid-column: 1 / -1;
        }
    }

    .radial-card1 {
        .radial-bg {
            width: 200%;
            height: 200%;
        }
    }

    .ecommerce-swiper .swiper-wrapper {
        padding-left: 16px !important;
    }
    .e-commerce-frame .advantage-swiper .swiper-wrapper {
        padding-left: 16px !important;
    }

    .finance-frame .advantage-swiper .swiper-wrapper {
        padding-left: 16px !important;
    }

    .nav-menu {
        background-color: white;
        right: 0;
        height: calc(100vh - 109px);
        width: 80%;
        padding: 0 20px;
        padding-top: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        &.scroll {
            height: calc(100vh - 80px);
        }
    }

    .group-hover {
        .hover-child {
            position: relative;
            top: auto;
            max-height: 999px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 16px;
            * {
                font-weight: 400 !important;
            }
        }
    }

    .group-hover2 {
        .hover-child2 {
            position: relative;
            top: auto;
            left: 0;
            max-height: 999px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 16px;
            * {
                font-weight: 400 !important;
            }
        }
    }

    .button-header {
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
    }

    .text-3xl {
        font-size: 1.75rem;
        * {
            font-size: 1.75rem;
        }
    }

    .text-5xl {
        font-size: 2.5rem;
        * {
            font-size: 2.5rem;
        }
    }

    .text-h1 {
        font-size: 4rem;
        line-height: 4rem;
        * {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    .text-banner {
        h1 {
            font-size: 3rem !important;
            line-height: 3rem;
        }
    }

    .offer-card {
        .wrapper {
            background-color: white;
            color: black;
            padding-bottom: 152px;

            .text-cntnr {
                width: 100%;
            }
        }
        &:nth-child(2n) {
            .wrapper {
                background-color: #31BEB5;
                color: white;
            }
        }
    }
    

    .team-card {
        display: inline-block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    .advantage-card {
        transition: all 1s ease;
        .content {
            max-height: 515px !important;
            overflow: hidden;
            transition: all 1s ease;
            opacity: 1 !important;
            transform: translateY(0);
        }
    }
}

.filter-wrapper {
    * {
        font-size: 12px !important;
    }
}

.saas-highlight {
    * {
        font-weight: 700;
    }
    strong,b {
        color: #9D4BFE;
    }
}

.finance-highlight {
    * {
        font-weight: 700;
    }
    strong,b {
        position: relative;
        color: #51D2CA;
    }

    strong:after {
        content: attr(data-shadow);
        position: absolute;
        top: 11%; left: 1.2%;
        z-index: -1;
        text-shadow: none;
        background-image:
          linear-gradient(
            45deg,
            transparent 45%,
            hsla(48,20%,90%,1) 45%,
            hsla(48,20%,90%,1) 55%,
            transparent 0
            );
        background-size: .05em .05em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
        animation: shad-anim 15s linear infinite;
        }
    
    @keyframes shad-anim {
      0% {background-position: 0 0}
      0% {background-position: 100% -100%}
      }
}

.ecommerce-highlight {
    * {
        font-weight: 700;
    }
    strong,b {
        color: #51D2CA;
    }
}

.gaming {
    background-color: white;
    .nav-menu {
        color: #1c2c36;
        .btn {
            .overlay {
                color: white;
            }
        }
    }

    .header-logo {
        filter: invert(0);
    }

    .hamburger-menu .bar {
        background-color: #1C2C36;
        &:before {
            background-color: #1C2C36;
        }
        &:after {
            background-color: #1C2C36;
        }
    }
}

.gaming-highlight {
    * {
        font-weight: 700;
    }
    strong,b {
        color: #1E746E;
    }
}

.ecommerce-swiper {
    padding-bottom: 80px !important;
    .swiper-wrapper {
        padding-left: 80px;
    }
}

.advantage-swiper {
    padding-bottom: 56px !important;
    .swiper-wrapper {
        padding-left: 80px !important;
    }
}

.advantage-card {
    transition: all 1s ease;
    .content {
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease;
        opacity: 0;
    }


    &:hover {
        background: #191919;
        .content {
            max-height: 515px;
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.benefit-card {
    direction: ltr;
}

.testimony-swiper {
    .swiper-button-prev,.swiper-button-next {
        color: #31BEB5;

        &:hover {
            color: #22857F;
        }
    }
}





