@layer base {
    html {
        @apply text-gray-900;
        @apply font-sans;
    } 

    ol {
        @apply list-decimal;
        @apply pl-6;
    }

    ul {
        @apply list-disc;
        @apply pl-6;
    }

    h1 {
        @apply text-h1;
    }
    
    h2 {
        @apply text-4xl;
        @apply leading-tight;
    }
    
    h3 {
        @apply text-3xl;
        @apply leading-tight;
    }
    
    h4 {
        @apply text-2xl;
        @apply leading-tight;
    }

    h5 {
        @apply text-xl;
        @apply leading-tight;

        &.small {
            font-size: 0.75rem;
        }
    }
}