@font-face {
    font-family: 'Gabarito';
    src: url('../fonts/gabarito/Gabarito-Black.eot');
    src: url('../fonts/gabarito/Gabarito-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gabarito/Gabarito-Black.woff2') format('woff2'),
        url('../fonts/gabarito/Gabarito-Black.woff') format('woff'),
        url('../fonts/gabarito/Gabarito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

