@font-face {
    font-family: 'Chercher-BlackSlant';
    src: url('../fonts/chercher/Chercher-BlackSlant.eot');
    src: url('../fonts/chercher/Chercher-BlackSlant.eot?#iefix') format('embedded-opentype'),
        url('../fonts/chercher/Chercher-BlackSlant.woff2') format('woff2'),
        url('../fonts/chercher/Chercher-BlackSlant.woff') format('woff'),
        url('../fonts/chercher/Chercher-BlackSlant.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

